* {
    font-family: "Heebo", Helvetica, sans-serif;
}

body {
    margin: 0;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-section, .background-img {
    width: 100%;
}

.top-section {
    overflow: hidden;
    height: 400px;
}

.navBar-img {
    position: absolute;
    top: 18px;
    left: 27px;
    width: 95%;
}

.info-section {
    background-color: rgb(14, 44, 68);
    color: white;
    text-align: center;
    max-height: 500px;
}

.info-offset {
    position: relative;
    top: -240px;
}

.tapgoods-img {
    width: 65%;
}

.info-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    margin: 60px auto 0;
    width: 65%;
}

hr {
    border-color: rgb(53, 134, 200);
    float: left;
    clear: left;
    width: 30%;
}

.info-content {
    flex: 1;
    max-width: 170px;
}

.info-content h3 {
    font-size: 1em;
    max-width: 161px;
    min-height: 54px;
}
.info-content h3:nth-child(1) {
    width: 155px;
}
.info-content h3:nth-child(3) {
    width: 100px;
}

.info-content p {
    float: left;
    font-size: 0.7em;
    color: rgb(161, 189, 211);
}

.cta-offset {
    position: relative;
    top: -90px;
}

.cta-section {
    text-align: center;
}

.cta-text {
    display: flex;
    flex-direction: column;
}

.cta-text h4 {
    color: rgb(39, 138, 219);
    margin-bottom: 0;
}

.cta-text ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
}

.cta-text ul li {
    margin: 15px auto;
    background-color: rgb(39, 138, 219);
    height: 70px;
    width: 500px;
}

.cta-text ul li div {
    text-align: left;
}

.cta-icon {
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.cta-text ul li div p {
    display: inline;
    font-weight: bold;
    color: white;
}

.cta-item {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
}

.cta-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    margin: 0 auto;
}

.cta-buttons .button-active, .cta-buttons .button-inactive {
    flex: 1;
    max-width: 240px;
    min-height: 20px;
}

.button-active, .button-inactive {
    font-size: 0.7em;
    font-weight: bold;
}

.cta-buttons .button-active p, .cta-buttons .button-inactive p, .footer-item .button-active p, .footer-item .button-inactive p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.button-active {
    background-color: rgb(39, 138, 219);
    border: 2px solid rgb(39, 138, 219);
    color: white;
}

.button-inactive {
    background-color: white;
    border: 2px solid rgb(39, 138, 219);
    color: rgb(39, 138, 219);
}

.footer {
    min-height: 300px;
    background-color: rgb(7,25,39);
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 136px;
}

.footer-item {
    flex: 1;
    text-align: center;
}

.footer-item .button-inactive, .footer-item .button-active {
    max-width: 220px;
    min-height: 20px;
    margin-left: auto;
    margin-right: auto;
}

.footer-item .button-active {
    margin-bottom: 10px;
}

.footer-item .button-inactive {
    border: 2px solid white;
}

@media only screen and (min-width: 1000px) {
    .info-section {
        max-height: 700px;
    }
}